{{> head }}
{{> navbar }}
<div class="row" style="width: 100%;">
    <div class="col-8">
        <h1>Imagen de Prueba</h1>
    </div>

    <div class="col-3">
        <img src="assets/img.png" class="img-thumbnail">
    </div>
</div>
{{> footer}}